# Папки и файлы, которые следует игнорировать

## Папка bin и obj, содержащая скомпилированные файлы
bin/
obj/

## Папка .vs, содержащая настройки Visual Studio
.vs/

## Папка .idea, содержащая настройки IntelliJ IDEA
.idea/

## Файлы отладочных символов и информации об ошибке
*.pdb
*.user

## Файлы логов
*.log

## Временные файлы
*~
*.swp
*.swo
*.bak

## Файлы и папки, сгенерированные сборкой проекта
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Oo]bj/
[Ll]og/
[nN]uget/

## Исключаемые файлы секретов и настроек
*.sln.DotSettings.user
*.suo
*.cache
*.userprefs
*.usertasks

## Игнорирование папки с пакетами NuGet
packages/

## Игнорирование файлов с расширением .csproj.user
*.csproj.user

## Игнорирование файлов с расширением .bak
*.bak

## Игнорирование файлов с расширением .vsixmanifest.user
*.vsixmanifest.user

## Игнорирование папки с файлами резервного копирования
Backup*/

## Игнорирование файлов .vscode и .vs
.vscode/
.vs/

# Исключение файла сборки MSBuild, если используется
build/